body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 21);
  color: rgb(226 232 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  font-size: 1.1rem;
  color: lightblue;
  background-color: black;
}

th,
td {
  border-bottom: 1px solid lightblue;
  padding: 0.8rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  @apply p-2 text-xl font-bold cursor-pointer text-blue-400;
}
